%p#notice= notice

%p
  %b Name:
  = @submodel.name


= button_to 'Edit', edit_submodel_path(@submodel), method: :get, class: 'btn btn-secondary'
\|
= button_to 'Back', submodels_path, method: :get, class: 'btn btn-light'
