%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.bg-gradient
  .container-fluid
    = link_to 'Marplace', root_path, class: 'navbar-brand link-warning'
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
