%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-2
  .container-fluid
    = link_to 'Marplace', root_path, class: 'navbar-brand link-warning'
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
      %ul.navbar-nav.ms-auto
        - if user_signed_in?
          %li.nav-item
            = button_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-outline-light me-2'
        - else
          %li.nav-item
            = button_to "Log in", new_user_session_path, method: :get, class: 'btn btn-outline-light me-2'
          %li.nav-item
            = button_to "Sign up", new_user_registration_path, method: :get, class: 'btn btn-outline-warning me-2'