.row.row-cols-1.row-cols-md-4.g-4
  - @cars.each do |car|
    .col
      .card.h-100
        %img.card-img-top.h-100{:alt => "", :src => url_for(car.images[0])}
        .card-body
          %h5.card-title
            = link_to car.name, car_path(car)
          %b.card-text.text-success
            = (car.price.to_s + '$')

%br/

= paginate @cars, theme: 'bootstrap-5'